/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/media-library/*
/vendor
/.phpintel
/public/media/*
/public/invoices/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
_ide_helper_models.php
_ide_helper.php
